html,
body {
    overflow: hidden;
}

body {
    font-family: "Silkscreen", sans-serif;
    background-color: rgb(51, 29, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}


.ruru {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120vh;
    z-index: 1;
}

.batu {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 37vh;
    width: 50px; 
    z-index: 2;
}


@media screen and (max-width: 768px) {
.ruru {
    width: 500px;
    height: 820px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.batu {
    position: fixed;
    left: 50px; 
    top: 8px;
    width: 20px;
    top: 10vh;
    z-index: 10;
}
}