/* スクロール禁止設定 */

html,
body {
    overflow: hidden;
}

/* アニメーションコーナー */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, -50%);
    }

    40% {
        transform: translate(-50%, -30%);
    }

    60% {
        transform: translate(-50%, -40%);
    }
}



/* 通常サイトのサイズ */

html,
body {
    overflow: hidden;
}

body {
    font-family: "Silkscreen", sans-serif;
    background-color: rgb(51, 29, 23);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* タイトル画面 */
/* スタートボタンのスタイル */
#start-button {
    position: fixed;
    top: 78vh;
    left: 50%;
    transform: translateX(-50%);
    width: 30vh;
    height: auto;
    z-index: 10;
}

#start-button:hover {
    opacity: 0.8;
}

/* ロゴに関するスタイル */
.rogo {
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    z-index: 9;
}

/* あそびかたに関するスタイル */
.howtoplay {
    position: fixed;
    top: 72vh;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    z-index: 2;
}

/* タイトル画面のスライム */
.mainkyarakuta {
    position: fixed;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: auto;
    z-index: 1;
    animation: bounce 2s infinite;
}

.more {
    position: fixed;
    top: 80vh;
    left: 70%;
    width: 7vw;
    height: auto;
    z-index: 20;
    animation: bounce 2s infinite;
}

#countdown {
    position: fixed;
    top: 49vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40vw;
    color: #F8FFDB;
    z-index: 11;
    padding: 50vh 50vw;
    background-color: rgba(51, 29, 23, 0.7);
}

/* タップする画像の初期スタイル */
#tap-image {
    position: fixed;
    top: 70vh;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.1s, transform 0.1s;
    z-index: 2;
    user-select: none;
}




/* タイマーのスタイル */
#timer {
    position: fixed;
    /* 固定配置 */
    left: 50%;
    /* 左右中央に配置 */
    transform: translateX(-50%);
    /* 水平方向の中央に移動 */
    margin-top: 12vh;
    padding: 2vh;
    border: solid;
    border-radius: 20px;
    z-index: 200;
    color: #F8FFDB;
    background-color: rgb(51, 29, 23);
    font-size: 3vw;
    white-space: nowrap;
    user-select: none;
}

/* 数値によって変わる背景 */

#game-screen {

    width: 500px;
    height: 820px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#gegi {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0vh;
    height: 12vh;
    padding: 1vh;
    z-index: 300;
    user-select: none;
}


#result-screen {
    width: 500px;
    height: 820px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* リザルト画面のスタイル */
/* リセットボタンの設定 */
#restart-button {
    position: fixed;
    top: 72vh;
    left: 50%;
    transform: translateX(-50%);
    width: 30vh;
    height: auto;
    z-index: 10;
}

#restart-button:hover {
    opacity: 0.8;
}

.score{
    position: fixed;
    top: 90vh;
    left: 30%;
    transform: translateX(-50%);
    font-size: 4vw;
    
    height: auto;
    z-index: 10;
    color: #de3e16;

}



/* スマホサイズ */
@media screen and (max-width: 768px) {

    body {
        font-family: "Silkscreen", sans-serif;
        background-color: rgb(51, 29, 23);
    }

    /* タイトル画面 */
    /* スタートボタンのスタイル */
    #start-button {
        position: fixed;
        top: 72vh;
        left: 50%;
        transform: translateX(-50%);
        width: 30vh;
        height: auto;
        z-index: 10;
    }

    #start-button:hover {
        opacity: 0.8;
    }

    /* ロゴに関するスタイル */
    .rogo {
        position: fixed;
        top: 13vh;
        left: 50%;
        transform: translateX(-50%);
        width: 87vw;
        z-index: 9;
    }

    /* あそびかたに関するスタイル */
    .howtoplay {
        position: fixed;
        top: 64vh;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        z-index: 2;
    }

    /* タイトル画面のスライム */
    .mainkyarakuta {
        position: fixed;
        top: 40vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: auto;
        z-index: 1;
        animation: bounce 2s infinite;
    }


    .more {
        position: fixed;
        top: 75vh;
        left: 85%;
        transform: translateX(-50%);
        width: 15vw;
        z-index: 2;
    }


    #countdown {
        position: fixed;
        top: 49vh;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40vw;
        color: #F8FFDB;
        z-index: 11;
        padding: 50vh 50vw;
        background-color: rgba(51, 29, 23, 0.7);
    }

    /* タップする画像の初期スタイル */
    #tap-image {
        position: fixed;
        top: 70vh;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.1s;
        z-index: 2;
        user-select: none;
    }

    #gegi {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0vh;
        height: 12vh;
        padding: 1vh;
        z-index: 300;
        user-select: none;
    }


    /* タイマーのスタイル */
    #timer {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 12vh;
        padding: 2vh;
        border: solid;
        border-radius: 20px;
        z-index: 200;
        color: #F8FFDB;
        background-color: rgb(51, 29, 23);
        font-size: 5vw;
        white-space: nowrap;
        user-select: none;
    }

    /* 数値によって変わる背景 */
    #game-screen {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #result-screen {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    /* リザルト画面のスタイル */
    /* リセットボタンの設定 */
    #restart-button {
        position: fixed;
        top: 72vh;
        left: 50%;
        transform: translateX(-50%);
        width: 30vh;
        height: auto;
        z-index: 10;
    }

    #restart-button:hover {
        opacity: 0.8;
    }

    .score{
        position: fixed;
        top: 93vh;
        left: 30%;
        transform: translateX(-50%);
        font-size: 4vw;
        
        height: auto;
        z-index: 10;
        color: #de3e16;
    
    }
}